.title {
   text-transform: capitalize; 
}

body{
font-family: "Roboto", sans-serif;
color: #434455;
background-color:#FFFFFF;
}

ul {
list-style-type: none;
}

a {
text-decoration: none;
}

address {
font-style: normal;
}

section {
background-color: #F4F4FD;
}

.nav-logo {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 117%;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}

.nav-logo-blue {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 117%;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2e2f42;
}

.nav-link {
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #2e2f42;
}
.nav-link:hover {
    color: #404bbf;
}
.nav-link:focus {
    color: #404bbf;
}

.contact-link {
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #434455;
}
.contact-link:hover {
    color: #404bbf;
}
.contact-link:focus {
    color: #404bbf;
}
/* <!-- ------section HERO----- --> */

.hero {
background: #2e2f42;
}

.hero-title {
font-weight: 700;
font-size: 56px; 
line-height: 107%;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
}

.hero-btn {
cursor: pointer;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.04em;
color: #fff;
background-color: #4D5AE5;
}
.hero-btn:hover {
background-color: #404BBF;
}
.hero-btn:focus {
  background-color: #404BBF;
}
/* <!-- -------------секція features--------- --> */

.features-item-title {
font-weight: 500;
font-size: 20px;
line-height: 120%;
letter-spacing: 0.02em;
color: #2e2f42;
}

.features-item {
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #434455;
}

.features-item{
font-weight: 400;
font-size: 16px; 
line-height: 150%;
letter-spacing: 0.02em;
color: #434455;
}

/* <!-- --------section taem ------------ --> */

.team {
background: #f4f4fd;
}

.team-item {
background: #fff;
}

.team-title {
font-weight: 700;
font-size: 36px;
line-height: 111%;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize;
}

.team-item-title {
font-weight: 500;
font-size: 20px;
line-height: 120%;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}

.team-item-deskr {
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
}

/* -- ---------portfolio--------- */

.portfolio-title {
text-transform: capitalize;
font-weight: 700;
font-size: 36px; 
line-height: 111%;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}

.portfoli-item-title {
font-weight: 500;
font-size: 20px;
line-height: 120%;
letter-spacing: 0.02em;
color: #2e2f42;
}

.portfolio-item-deskr {
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #434455;
}

/* ---------footer------- */

.footer {
background: #2e2f42;
}

.nav-footer-logo {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 117%;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}

.nav-footer-logo-blue {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 117%;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #f4f4fd;
}

.footer-deskr {
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #f4f4fd;
}