.title {
   text-transform: capitalize; 
}

body{
font-family: "Roboto", sans-serif;
color: #434455;
background-color:#FFFFFF;
}

p, h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
}

a {
text-decoration: none;
}

address {
font-style: normal;
}

section {
background-color: #F4F4FD;
}

img {
display: block;
}

.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;  
}

.container {
width: 1158px; 
padding-left: 15px;   
padding-right: 15px;
margin: 0 auto;
}
/* ----------HEADER----------- */
.head {
border-bottom: 1px solid #e7e9fc;
box-shadow: 
    0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);

}

.nav {
display: flex;
align-items: center;
}

.nav-logo {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 117%;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
margin-right: 76px;
}

.header-menu-list {
display: flex;
align-items: center;
gap: 40px;
}

.header-menu-list li:first-child .nav-link {
  color: #404bbf;
}

.header-menu-list li:first-child .nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.nav-logo-blue {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 117%;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2e2f42;
}

.nav-link {
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #2e2f42;
padding: 24px 0;
display: block;
position: relative;
text-decoration: none;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list {
  display: flex;
  gap: 40px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1158px;
  margin: 0 auto;
}
.nav-link:hover {
color: #404bbf;
}
.nav-link:focus {
color: #404bbf;
}

.contact-link {
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #434455;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link:hover {
color: #404bbf;
}
.contact-link:focus {
color: #404bbf;
}

/* <!-- ------section HERO----- --> */

.hero {
background: #2e2f42;
background-image: linear-gradient(
rgba(46, 47, 66, 0.7),
rgba(46, 47, 66, 0.7)), 
url(../images/hero-bg.jpg);
max-width: 1440px;
margin: 0 auto;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
padding: 188px 0;
}

.hero-title {
font-weight: 700;
font-size: 56px; 
line-height: 107%;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
max-width: 496px;
margin: 0 auto 48px;
}

.hero-btn {
cursor: pointer;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.04em;
color: #fff;
background-color: #4D5AE5;
border-radius: 4px;
border: none;
padding: 16px 32px;
display: block;
margin: 0 auto;
min-width: 169px;
height: 56px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover {
background-color: #404BBF;
}
.hero-btn:focus {
background-color: #404BBF;
}
/* <!-- -------------секція features--------- --> */

.features {
padding: 120px 0;
background: #fff;
}

.icon-box {
  width: 264px;
  height: 112px;            
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 8px;     
  border-radius: 4px;     
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  border: 1px solid #8e8f99;
  background: #f4f4fd;
}

.features-icon {
  width: 60px;   
  height: 60px;
  margin-bottom: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto; 
}

.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
padding: 0;
margin: -1px;
overflow: hidden;
clip-path: inset(100%);
clip: rect(0, 0, 0, 0);
white-space: nowrap;
border: 0;
}

.features-list {
display: flex;
gap: 24px;
list-style: none;
padding: 0;
margin: 0;
}

.features-item-title {
font-weight: 500;
font-size: 20px;
line-height: 120%;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}

.features-item {
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #434455;
width: calc((100% - 72px) / 4);

}

.features-item{
font-weight: 400;
font-size: 16px; 
line-height: 150%;
letter-spacing: 0.02em;
color: #434455;
}

/* <!-- --------section taem ------------ --> */

.team {
padding: 120px 0;
background: #f4f4fd;
}

.team-item {
background: #fff;
width: calc((100% - 72px) / 4);
}

.team-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}
.team-item:first-child {
border-radius: 0px 0px 4px 4px;
}

.team-list li:first-child {
  box-shadow: 
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-item:first-child .social-list .social-team-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-info {
padding: 32px 0    
}

.team-title {
font-weight: 700;
font-size: 36px;
line-height: 111%;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize;
margin-bottom: 72px;
}

.team-item-title {
font-weight: 500;
font-size: 20px;
line-height: 120%;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 8px;
}

.team-item-deskr {
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
} 


.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;         
  margin-top: 15px;
  padding: 0;
  list-style: none;
  margin-top: 8px;
} 


.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;            
  background-color: #4d5ae5;     
  transition: background-color 0.3s ease;
}

.social-team-link:hover,
.social-team-link:focus {
  background-color: #404bbf;    
}

.social-item {
  fill: #f4f4fd;
}

.social-team-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;            
  background-color: #4d5ae5;     
  transition: background-color 0.3s ease; 
}

/* -- ---------portfolio--------- */

.portfolio {
padding: 120px 0 120px 0;
background: #fff;
}

.portfolio-list {
display: flex;
row-gap: 48px; 
column-gap: 24px;
flex-wrap: wrap;
}

.portfolio-item {
width: 360px;
height: 420px;
width: calc((100% - 48px) / 3); 
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
position: relative;
}
.portfolio-item:hover .portfolio-item-text {
  transform: translateY(0);
}

.portfolio-item-text {
position: absolute;
top: 0;
left: 0;
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #f4f4fd;
background-color: #4d5ae5;
padding: 40px 32px 164px;
height: 100%;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
padding: 40px 32px;
}

.portfolio-item-cover {
position: relative;
overflow: hidden;  
}


.portfolio-item:hover {
  box-shadow: 
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item:first-child {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:first-child:hover {
  box-shadow: 
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
} 

.portfolio-title {
text-transform: capitalize;
font-weight: 700;
font-size: 36px; 
line-height: 111%;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 72px;
}

.portfolio-item-title {
font-weight: 500;
font-size: 20px;
line-height: 120%;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px 
}

.portfolio-item-deskr {
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #434455;
margin-top: 8px;
}

.container-portfolio {
border-top: none;
}

.portfolio-item-info { 
border-bottom: 1px solid #e7e9fc; 
border-right: 226px;
border-left: 16px;
border-right: 1px solid #e7e9fc;
border-left: 1px solid #e7e9fc;         
padding: 32px 16px;   
}

/* ---------footer------- */

.footer {
background: #2e2f42;
padding-top: 100px;
padding-bottom: 100px;
}

.footer .container {
display: flex;
justify-content: flex-start;;
align-items: baseline;     
}

.nav-footer-logo {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 117%;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
display: inline-block;
margin-bottom: 16px;
}

.nav-footer-logo-blue {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 117%;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #f4f4fd;
}

.footer-deskr {
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #f4f4fd;
max-width: 264px;
}


.footer-social-title {
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #fff;
text-transform: capitalize;
text-align: center;
margin-bottom: 16px;
}

.footer-social {
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
}

.footer-brand {
display: flex;
flex-direction: column;
margin-right: 120px;              
}

.social-footer-list {
  display: flex;
  justify-content: center;
  gap: 16px;         
  padding: 0;
  list-style: none;
} 

.social-footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  width: 40px;
  height: 40px;
  border-radius: 50%;            
  background-color: #4d5ae5;     
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footer-link:hover,
.social-footer-link:focus {
  background-color: #31d0aa;   
}

.footer-subscribe{
padding-left: 80px;  
}

.subscribe-title {
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #fff;
margin-bottom: 16px;  
}

.footer-form {
display: flex;
align-items: center;
gap: 24px;  
}

.footer-form-btn{
align-items: center;
justify-content: center;  
display: flex; 
gap: 16px; 
font-size: 16px;
line-height: 150%;
letter-spacing: 0.04em;
text-align: center;
color: #fff;
border-radius: 4px;
padding: 8px 24px;
width: 165px;
height: 40px;
background: #4d5ae5;  
padding-left: 24px;
padding-right: 24px;
}

.footer-form-btn:hover {
background-color: #404BBF;
}
.footer-form-btn:focus {
background-color: #404BBF;
}

.footer-send {
fill: #fff;
}

.footer-input {
border: 1px solid #fff;
border-radius: 4px;
width: 264px;
height: 40px; 
background-color: transparent;
padding-left: 16px;
padding-right: 16px;

 &::placeholder {
font-size: 12px;
line-height: 200%;
letter-spacing: 0.04em;
color: #fff;  
}
}

/* ------MODAL----- */


.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-open {
opacity: 1;
visibility: visible; 
pointer-events: auto; 
}

.modal {
width: 408px;
min-height: 584px;
border-radius: 4px;
background-color: #fcfcfc;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
padding: 72px 24px 32px 24px;
}

.button-close {
fill: #2e2f42; 
align-items: center;
justify-content: center; 
}

.modal-close {
position: absolute;
width: 24px;
height: 24px;
top: 24px;
right: 24px;
border: none;
border-radius: 100%;
fill: #e7e9fc;
stroke-width: 1px;
stroke: rgba(0, 0, 0, 0.1);
}

.modal-close:hover {
background-color: #404bbf;
}

.modal-close:hover svg {
  fill: #fff;
}

.modal-totle {
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 16px;
}

.modal-input {
width: 100%;
border-radius: 4px;
height: 40px; 
background-color: transparent; 
border: 1px solid rgba(46, 47, 66, 0.4);
padding-left: 38px;
padding-right: 16px;
outline: transparent;
transition: 0.3s linear;
}

.modal-input:focus {
border-color: #4d5ae5;
}

.modal-input:focus + .input-icon {
stroke: #4d5ae5;
fill: #4d5ae5;
}

.modal-input-label {
display: inline-block;  
font-size: 12px;
line-height: 117%;
letter-spacing: 0.04em;
color: #8e8f99;
margin-bottom: 4px;
} 

.modal-field {
margin-bottom: 8px;  
}

.input-wrapper {
position: relative;  
}

.input-icon {
fill: #2e2f42; 
position: absolute;
left: 16px;
top: 50%;
transform:translateY(-50%)
}

.modal-textarea {
width: 100%;
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
height: 120px;
padding: 8px 16px;
background-color: transparent;
outline: transparent;
resize: none;
transition: 0.3s linear;

&::placeholder {
font-size: 12px; 
line-height: 117%;
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4);
}
}

.modal-textarea:focus {
border-color: #4d5ae5;  
}

.modal-button {
cursor: pointer;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.04em;
color: #fff;
background-color: #4D5AE5;
border-radius: 4px;
border: none;
padding: 16px 32px;
display: block;
margin: 0 auto;
min-width: 169px;
height: 56px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover {
background-color: #404BBF;
}
.modal-button:focus {
background-color: #404BBF;
} 

.modal-check:checked {
border-radius: 10px;
fill: #404bbf;
border: 1px solid #404bbf;  
}

.modal-check-label {
font-size: 12px;
line-height: 117%;
letter-spacing: 0.04em;
color: #8e8f99;
display: flex;
align-items: center;

a {
line-height: 133%;
text-decoration: underline;
text-decoration-skip-ink: none;
color: #4d5ae5;  
}
}

.modal-check:checked + .modal-check-label> .modal-check-box {
border-radius: 2px;
background-color: #404bbf;
fill: #404bbf;
} 

.modal-check-box {
display: flex;
align-items: center;
justify-content: center;  
width: 16px;
height: 16px; 
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 2px;
margin-right: 8px; 
fill: transparent;
}

.check-icon {
fill: #f4f4fd;  
}